<!DOCTYPE html>
<html>
<head>
	<html xmlns:th="http://www.thymeleaf.org">
    <title>User Management</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="/users/profile">Profile</a></li>
  </ul>
  
  <div class="search-form">
    <form action="/search" method="get">
  <input type="text" name="query" placeholder="Search...">
  <button type="submit">Search</button>
</form>
  </div>
</nav>
    <h1>Welcome to User Management</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a> |
                <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/users/new" class="create-user">Create User</a>
</body>
</html>
