<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
<h2 >Gestion des etudiants</h2>
<tr>
<div align = "left" >   
     <h3><a  th:href="@{'/page1'}">Ajouter</a></h3>    
    </div>
</tr>
<tr>
<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
       <th>ID Etudiant </th>
            <th>Nom Etudiant</th>
            <th>Parcours</th>
            <th>Age</th>
            <th>Modifier</th>
            <th>Supprimer</th>
   </tr>
  </thead>
  <tbody>
      <tr  th:each="etudiant : ${listetudiant }">
<td th:text="${etudiant.id}">Etudiant ID</td>
<td th:text="${etudiant.etudiantname}">Etudiant Nom</td>
<td th:text="${etudiant.parcours}">Parcours</td>
<td th:text="${etudiant.age}">Age</td>
<td>
<a th:href="@{'/modifier/' + ${etudiant.id}}">Modifier</a>
</td>     
<td>
<a th:href="@{'/supprimer/' + ${etudiant.id}}">Supprimer</a>
</td>     
</tr>
  
  </tbody>
</table>
                    
                 </div>
 
            </div>
 
</tr>
 
</tbody>
</table>
<div>
</body>
</html>