<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ajouter Nouveau etudiant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Ajouter nouveau etudiant</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/ajouter}" th:object="${etudiant}" method="post">
 
      
<div alight="left">
            <tr>
                <label class="form-label" >Etudiant Nom</label>
                <td>
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{etudiantname}" class="form-control" placeholder="Etudiant Nom" />
                </td>
            </tr>
         </div>  
            
           <div alight="left">
          
            <tr>
                 <label class="form-label" >Parcours</label>
                <td><input type="text" th:field="*{parcours}" class="form-control" placeholder="parcours" /></td>
            </tr>
            </div>
            <div alight="left">
                 <tr>
                 <label class="form-label" >Age</label>
                <td><input type="text" th:field="*{age}" class="form-control" placeholder="age" /></td>
            </tr>
            </div>
<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">ajouter</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
